Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20%;
}
.Car-model {
  display: flex;
  flex-direction: column;
}
.img {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  color: white;
  flex-direction: column;
}
@media (min-width: 50em) {
  .container {
    flex-direction: row;
  }
}
.btn-primary {
  padding: 1em;
  border-radius: 30px;
  border-color: aliceblue;
  background-color: #e28525;
  color: white;
  width: 60%;
  align-items: center;
}
#btn1 {
  background-color: #016972;
}
#btn2 {
  background-color: #00403f;
}
img {
  width: 80px;
}

.Car-model {
  text-align: center;
  gap: 2em;
  padding-bottom: 30px;
}
#car-model1 {
  background-color: #e28525;
}
#car-model2 {
  background-color: #016972;
}
#car-model3 {
  background-color: #00403f;
}
